
body {
    background-color: rgb(221, 59, 59);
    height: 100vh;
}



.container {
    padding: 15px 15px;
    margin: 0 auto;
    font-size: 20px;
    font-family: "Impact";
    color: snow;
    
}

.login {
    /*背景の基点とするためrelativeを指定*/
    position: relative;
    /*ボタンの形状*/
    display: inline-block;
    width:100%;
    max-width: 250px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    outline: none;
}

/*ボタン内側の設定*/
.login span {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #333;
    /* 重なりを3Dで表示 */
    transform-style: preserve-3d;
    /* アニメーションの設定 数字が少なくなるほど早く回転 */
    transition: 0.5s;
}

/*== くるっと回転（奥に） */

/* 回転前 */
.rotateback span:nth-child(1) {
    background: snow;
    color: rgb(221, 59, 59);
    transform: rotateX(0deg);/*はじめは回転なし*/
    transform-origin: 0 50%  -25px;/* 回転する起点 */
}

/*hoverをした後の形状*/
.rotateback:hover span:nth-child(1) {
    transform: rotateX(90deg);/* X軸に90度回転 */
}

/* 回転後 */
.rotateback span:nth-child(2) {
    background: snow;
    color: rgb(221, 59, 59);
    font-size: 15px;
    font-family: "HiraMinProN-W6", "Impact";
    transform: rotateX(-90deg);/*はじめはX軸に-90度回転*/
    transform-origin: 0 50%  -25px;/* 回転する起点 */
}

/*hoverをした後の形状*/
.rotateback:hover span:nth-child(2) {
    transform: rotateX(0deg);/* X軸に0度回転 */
}



.title {
    margin-left: 600px;
    margin-bottom: 200px;
    font-family: "Impact";
    font-size: 40px;
    color: snow;
}



.btn{
    /*影の基点とするためrelativeを指定*/
    position: relative;
    /*ボタンの形状*/
  text-decoration: none;
  display: inline-block;
    text-align: center;
    background: transparent;
  border-radius: 25px;
  border: solid 1px rgb(221, 59, 59);
    outline: none;
    /*アニメーションの指定*/
    transition: all 0.2s ease;
}

/*hoverをした後のボタンの形状*/
.btn:hover{
  border-color:transparent; 
}

/*ボタンの中のテキスト*/
.btn span {
  position: relative;
  z-index: 2;/*z-indexの数値をあげて文字を背景よりも手前に表示*/
    /*テキストの形状*/
  display: block;
    padding: 10px 30px;
  background:#fff;
  border-radius: 25px;
  color:rgb(221, 59, 59);
    /*アニメーションの指定*/
    transition: all 0.3s ease;
}

/*== 下に押し込まれる（立体が平面に） */

/*影の設定*/
.info:before {
    content:"";
    /*絶対配置で影の位置を決める*/
    position: absolute;
  z-index: -1;
    top:4px;
    left:0;
    /*影の形状*/
    width: 100%;
    height: 100%;
  border-radius: 25px;
    background-color: snow;
}

/*hoverの際にY軸に4pxずらす*/
.info:hover span {
  background-color: rgb(221, 59, 59);
  color: #fff;
  transform: translateY(4px);
}

a {
    text-decoration:none; 
}



#load {
  position:absolute;
  width:600px;
  height:36px;
  left:50%;
  top:40%;
  margin-top: 300px;
  margin-left:-300px;
  overflow:visible;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  cursor:default;
  transition: all 10s;
}

#load div {
  position:absolute;
  width:20px;
  height:36px;
  top: 220;
  font-size: 25px;
  opacity:0;
  font-family:Helvetica, Arial, sans-serif;
  animation:move 2s linear infinite;
  -o-animation:move 2s linear infinite;
  -moz-animation:move 2s linear infinite;
  -webkit-animation:move 2s linear infinite;
  transform:rotate(180deg);
  -o-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  color: snow;
}

#load div:nth-child(2) {
  animation-delay:0.2s;
  -o-animation-delay:0.2s;
  -moz-animation-delay:0.2s;
  -webkit-animation-delay:0.2s;
}
#load div:nth-child(3) {
  animation-delay:0.4s;
  -o-animation-delay:0.4s;
  -webkit-animation-delay:0.4s;
  -webkit-animation-delay:0.4s;
}
#load div:nth-child(4) {
  animation-delay:0.6s;
  -o-animation-delay:0.6s;
  -moz-animation-delay:0.6s;
  -webkit-animation-delay:0.6s;
}
#load div:nth-child(5) {
  animation-delay:0.8s;
  -o-animation-delay:0.8s;
  -moz-animation-delay:0.8s;
  -webkit-animation-delay:0.8s;
}
#load div:nth-child(6) {
  animation-delay:1s;
  -o-animation-delay:1s;
  -moz-animation-delay:1s;
  -webkit-animation-delay:1s;
}
#load div:nth-child(7) {
  animation-delay:1.2s;
  -o-animation-delay:1.2s;
  -moz-animation-delay:1.2s;
  -webkit-animation-delay:1.2s;
}

@keyframes move {
  0% {
    left:0;
    opacity:0;
  }
  35% {
    left: 41%; 
    -moz-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    transform:rotate(0deg);
    opacity:1;
  }
  65% {
    left:59%; 
    -moz-transform:rotate(0deg); 
    -webkit-transform:rotate(0deg); 
    -o-transform:rotate(0deg);
    transform:rotate(0deg); 
    opacity:1;
  }
  100% {
    left:100%; 
    -moz-transform:rotate(-180deg); 
    -webkit-transform:rotate(-180deg); 
    -o-transform:rotate(-180deg); 
    transform:rotate(-180deg);
    opacity:0;
  }
}

@-moz-keyframes move {
  0% {
    left:0; 
    opacity:0;
  }
  35% {
    left:41%; 
    -moz-transform:rotate(0deg); 
    transform:rotate(0deg);
    opacity:1;
  }
  65% {
    left:59%; 
    -moz-transform:rotate(0deg); 
    transform:rotate(0deg);
    opacity:1;
  }
  100% {
    left:100%; 
    -moz-transform:rotate(-180deg); 
    transform:rotate(-180deg);
    opacity:0;
  }
}

@-webkit-keyframes move {
  0% {
    left:0; 
    opacity:0;
  }
  35% {
    left:41%; 
    -webkit-transform:rotate(0deg); 
    transform:rotate(0deg); 
    opacity:1;
  }
  65% {
    left:59%; 
    -webkit-transform:rotate(0deg); 
    transform:rotate(0deg); 
    opacity:1;
  }
  100% {
    left:100%;
    -webkit-transform:rotate(-180deg); 
    transform:rotate(-180deg); 
    opacity:0;
  }
}

@-o-keyframes move {
  0% {
    left:0; 
    opacity:0;
  }
  35% {
    left:41%; 
    -o-transform:rotate(0deg); 
    transform:rotate(0deg); 
    opacity:1;
  }
  65% {
    left:59%; 
    -o-transform:rotate(0deg); 
    transform:rotate(0deg); 
    opacity:1;
  }
  100% {
    left:100%; 
    -o-transform:rotate(-180deg); 
    transform:rotate(-180deg); 
    opacity:0;
  }
}

.flowbtn8{
  border-radius:50%;
  position:relative;
  display:inline-block;
  width:50px;
  height:50px;
  font-size:30px;
  text-decoration:none;
  transition:.5s;
  margin-left: 1500px;
  margin-top: 50px;
  }
  /* ボタンマウスホバー時のテキスト指定 */
  .flowbtn8:hover{
  color:#fff!important;
  }
  /* アイコンをど真ん中に */
  .flowbtn8 i{
  position:absolute;
  top:50%;
  left:50%;
  -ms-transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
  }
  /* Twitter */
  .flowbtn8.fl_tw2{
  border:solid 1px snow;
  color:snow;
  }
  /* Twitterマウスホバー時 */
  .flowbtn8.fl_tw2:hover{
  border:solid 1px #55acee;
  background:#55acee;
  }

  .sms{
    margin-left: 1460px;
    margin-top: 30px;
    color: snow;
    font-family: "HiraMinProN-W6", "Impact";
  }